<h1><%= t('.page_heading') %></h1>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="blog-post">
      <h2><%= link_to post.title.titleize, simple_blog.post_path(post) %></h2>
      <p><%= post.body %></p>
    </div>
  <% end %>
<% else %>
  <p><%= t('.no_published_posts') %></p>
<% end %>
