/* Global */
.clearfix {
  clear: both;
}

/* New post form */
.simple-blog-posts-new {
  label.left-side-label {
    float: left;
    width: 120px;
  }

  .simple-blog-new-post-row {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
  }
}
