<div class="simple-blog-posts-new">
  <%= form_for @blog_post, :url => admin_blog_posts_path do |f| %>
    <%= render 'form', :f => f %>
    <div class="simple-blog-new-post-row">
      <%= f.submit t('.submit'), :class => "simple-blog-new-post-submit" %>
    </div>
  <% end %>
</div>
